/Sockets-TCP-UDP/.idea
/Sockets-TCP-UDP/Sockets-TCP-UDP.iml
/Sockets-TCP-UDP/out
/RabbitMQ/.idea
/RabbitMQ/RabbitMQ.iml
/RabbitMQ/out
/Akka/.idea
/Akka/Akka.iml
/Zookeeper/.idea
/Zookeeper/Zookeeper.iml
/Zookeeper/out
/Middleware/gRPC-homework/gRPC-homework.iml
/Middleware/gRPC-homework/.idea
/Middleware/Thrift-homework/.idea
/Middleware/Thrift-homework/Thrift-homework.iml
/REST/REST-homework.iml
/REST/api.iml
/REST/.idea
/REST/target
.idea
