<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Brewery API</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
    </header>
</section>

<section class="container py-3">
    <div class="container pb-3">
        <form th:action="@{/request}" method="post">
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" th:name="city">
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <br>
                <select id="type" th:name="type">
                    <option value=""></option>
                    <option value="micro">Micro</option>
                    <option value="nano">Nano</option>
                    <option value="regional">Regional</option>
                    <option value="brewpub">Brewpub</option>
                    <option value="large">Large</option>
                    <option value="planning">Planning</option>
                    <option value="bar">Bar</option>
                    <option value="contract">Contract</option>
                    <option value="proprietor">Proprietor</option>
                    <option value="closed">Closed</option>
                </select>
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" class="form-control" id="state" th:name="state">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:name="name">
            </div>
            <div class="form-group">
                <label for="activity">What do you want to drink beer for?</label>
                <br>
                <select id="activity" th:name="activity">
                    <option value="relaxation">Relaxation</option>
                    <option value="recreational">Recreational</option>
                    <option value="education">Education</option>
                    <option value="social">Social</option>
                    <option value="cooking">Cooking</option>
                    <option value="diy">Diy</option>
                    <option value="charity">Charity</option>
                    <option value="music">Music</option>
                    <option value="busywork">Busywork</option>
                </select>
            </div>

            <div class="pt-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</section>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>